@charset "utf-8";
/* CSS Document */

/*-- popup --*/
#result-dialog .myfriendList .myfriend{
padding:7px;
}

#result-dialog .myfriendList .myfriend a{
display:table-cell;
width:50px;
height:50px;
border:solid 1px #aaa391;
vertical-align:middle;
text-align: center;
}

#result-dialog .myfriendList .myfriend a img{
max-width:50px;
max-height:50px;
vertical-align:bottom;
}

#result-dialog .myfriendList .myfriend span{
display:table-cell;
padding:7px;
vertical-align:middle;
}
