<!DOCTYPE html>
<html>
<head>
  <title>mixi API Quick Start</title>
  <%= stylesheet_link_tag "common", :media => "all" %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"  />
</head>
<body>

<%= yield %>

</body>
</html>
